.filtreElevesContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;

  & > :nth-child(1) {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    background-color: #11182777;
    border-radius: 7px;
  }
  & > :nth-child(2) {
    display: grid;
    padding: 5px;
    .title {
      font-weight: bold;
    }

    select {
      outline: none;
    }
  }
}
