.DetailInfo-container {
  background-color: white;
  padding: 10px;
  display: grid;
  padding: 0 10px 10px 10px;

  & > :nth-child(1) {
    background-color: rgb(199, 197, 197);
    gap: 10px;
    padding: 10px;
    display: grid;
  }

  .Details-containe-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    & > :nth-child(1) {
      font-weight: bold;
    }
  }
}
